.index-container {
    padding: 0 10px;
}

.index-content {
    position: relative;
}

.left-container {
    margin-right: 455px;
    > div {
        padding: 0 32px 0 28px;
    }
}

.right-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 434px;
    padding-left: 21px;
}

.left-container,
.right-container {
    >div {
        margin-bottom: 20px;
        background-color: #fff;
    }
}