//* 报告下载 */
@import '../../css/public/var.scss';
@import '../../css/public/mixins.scss';

.reports {
  color: #101010;
  & > .row {
    margin-bottom: 20px;
    padding: 50px;
    background-color: #fff;
  }
  * {
    box-sizing: border-box;
  }
  h1 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.87;
  }
  .sub-title {
    font-size: 20px;
  }
  .download {
    margin: 35px 0;
    width: 240px;
  }
  .catalogue {
    font-size: 16px;
    &__title {
      margin-bottom: 20px;
      font-size: 20px;
    }
    &-list {
      &-item {
        margin-bottom: 15px;
      }
    }
  }
  .image-placeholder {
    min-height: 600px;
    line-height: 600px;
  }
}