<div class="user-side">
  <div class="user-side__card">
    <div class="user-side__avatar"><img src="/imgs/public/placeholder.png" alt=""></div>
    <div class="user-side__username">时机北京科技有限公司</div>
    <div class="user-side__status">
      <div class="is-unverified">未认证</div>
      <div class="is-verified">
        <span>已认证</span>
        <span class="era-icon-checked text-bold" style="margin-right: 30px;"></span>
        <span class="era-icon-look"></span>
        <span style="margin-right: 27px;">5.9万</span>
        <span class="era-icon-heart"></span>
        <span>25</span>
      </div>
    </div>
  </div>
  <div class="user-side__menu">
    <ul class="menu-wrapper">
      <li class="menu-item @@if (context.active === 'profile') {active}">
        <a href="/account/profile.html">企业资料</a>
      </li>
      <li class="menu-item @@if (context.active === 'service') {active}">
        <a href="/account/service.html">企业服务</a>
      </li>
      <li class="menu-item @@if (context.active === 'project') {active}">
        <a href="/account/project.html">企业项目</a>
      </li>
      <li class="menu-item @@if (context.active === 'jobs') {active}">
        <a href="/account/jobs.html">招聘职位</a>
      </li>
      <li class="menu-item @@if (context.active === 'gallery') {active}">
        <a href="/account/gallery.html">企业相册</a>
      </li>
      <li class="menu-item @@if (context.active === 'news') {active}">
        <a href="/account/news.html">企业资讯</a>
      </li>
    </ul>
  </div>
</div>