<header class="header">
    <div class="header-container">
        <div class="header-left">
            <!-- logo -->
            <img src="/imgs/public/placeholder.png" alt="logo" class="header-logo">
            <!-- 导航 -->
            <ul class="header-nav-list">
                <li>
                    <nav href="/" class="header-nav">
                        <a href="/">
                            <div class="header-nav-title">首页</div>
                            @@if (page === "index") {
                            <div class="header-nav-en active">Home</div>
                            }
                            @@if (page !== "index") {
                            <div class="header-nav-en">Home</div>
                            }
                        </a>
                    </nav>
                </li>
                <li>
                    <nav class="header-nav">
                        <a href="/design.html">
                            <div class="header-nav-title">设计公司</div>
                            @@if (page === "design") {
                            <div class="header-nav-en active">ENTERPRISE</div>
                            }
                            @@if (page !== "design") {
                            <div class="header-nav-en">ENTERPRISE</div>
                            }
                        </a>
                    </nav>
                </li>
                <li>
                    <nav class="header-nav">
                        <a href="/news.html">
                            <div class="header-nav-title">寻求报道</div>
                            @@if (page === "news") {
                            <div class="header-nav-en active">NEWS REPORT</div>
                            }
                            @@if (page !== "news") {
                            <div class="header-nav-en">NEWS REPORT</div>
                            }
                        </a>
                    </nav>
                </li>
                <li>
                    <nav class="header-nav">
                        <a href="/activity.html">
                            <div class="header-nav-title">最新活动</div>
                            @@if (page === "activity") {
                            <div class="header-nav-en active">RECENT ACTIVITY</div>
                            }
                            @@if (page !== "activity") {
                            <div class="header-nav-en">RECENT ACTIVITY</div>
                            }
                        </a>
                    </nav>
                </li>
                <li>
                    <nav class="header-nav">
                        <a href="/infomation.html">
                            <div class="header-nav-title">行业资讯</div>
                            @@if (page === "infomation") {
                            <div class="header-nav-en active">INFORMATION</div>
                            }
                            @@if (page !== "infomation") {
                            <div class="header-nav-en">INFORMATION</div>
                            }
                        </a>
                    </nav>
                </li>
                <li>
                    <nav class="header-nav">
                        <a href="/download.html">
                            <div class="header-nav-title">下载</div>
                            @@if (page === "download") {
                            <div class="header-nav-en active">DOWNLOAD</div>
                            }
                            @@if (page !== "download") {
                            <div class="header-nav-en">DOWNLOAD</div>
                            }
                        </a>
                    </nav>
                </li>
            </ul>
        </div>
        <!-- 未登录情况下按钮组 -->
        <!-- <div class="header-btns">
            <nav>
                <a href="/login.html">登录</a>
            </nav>
            <nav>
                <a href="/registered.html">注册</a>
            </nav>
        </div> -->
        <!-- 登录后 -->
        <div class="header-company" id="headerCompany">
            <img class="header-company-logo"  id="headerCompanyLogo" src="/imgs/public/placeholder.png" alt="公司logo">
            <div class="header-company-menu" id="headerCompanyMenu">
                <div>反重力国际教育</div>
                <div class="logout" id="logout">退出登录</div>
            </div>
        </div>
    </div>
</header>