/* 企业资讯 */
@import '../../../css/public/var.scss';
@import '../../../css/public/mixins.scss';
.company-news {
  padding: 66px 41px 383px 32px;
  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    color: $font-color-info;
  }
  &__example {
    display: block;
    margin-bottom: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid $border-color-base;
    font-size: 14px;
    color: $font-color-message;
    & > span {
      margin-left: 20px;
      color: $color-input-placeholder;
    }
  }
  .form {
    padding-right: 160px;
  }
  .input-long {
    width: 514px;
  }
  .links {
    span {
      margin-right: 9px;
      &.active {
        color: #4395ff;
      }
    }
  }
  .outside {
    display: none;
  }
  .btn-add {
    padding: 11px 33px;
  }
}
.list {
  margin-top: 40px;
  margin-bottom: 100px;
  font-size: 14px;
  color: #101010;
  border-top: 1px solid $border-color-base;
}
.list-wrap {
  display: none;
}
.list-item {
  margin: 20px 0;
}
.list span {
  margin-left: 10px;
  color: $color-input-placeholder;
}

.pagination {
  display: inline-block;
  font-size: 12px;
  color: #101010;
  white-space: nowrap;
  .prev-btn,
  .next-btn {
    cursor: pointer;
  }
  .number {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    &.active {
      color: #fff;
      background-color: #1890ff;
    }
  }
}