/* 企业信息 */
@import '../../../css/public/var.scss';
@import '../../../css/public/mixins.scss';
.infomation {
  &-company {
    display: none;
    padding: 35px 30px;
    box-sizing: border-box;
  }
  &-list {
    & > li {
      margin-bottom: 21px;
      border-bottom: 1px solid #bbb;
    }
  }
  
  &-intro {
    @include clearfix;
    font-size: 16px;
    &__inner {
      padding-bottom: 40px;
    }
    &__num {
      margin-bottom: 13px;
      float: right;
      font-size: 13px;
      color: #999;
    }
  }
  &-cover {
    &__inner {
      overflow: hidden;
    }
    img {
      height: 100px;
    }
  }
  &-edit {
    padding: 33px 31px;
    .upload-button {
      position: relative;
      margin-bottom: 23px;
      padding: 10px 36px;
      &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
    .select-form {
      display: inline-block;
      .select {
        min-width: 90px;
        width: auto;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
      }
    }
    .preview {
      display: inline-block;
    }
    .companyname {
      width: 300px;
    }
    .address {
      margin-right: 50px;
    }
    .company-desc {
      margin-right: 40px;
      .select {
        width: 180px;
      }
    }
    .textarea {
      width: 670px;
      height: 131px;
    }
  }
}

.profile-dialog {
  text-align: center;
  background-color: rgba(#000, .5);
  .dialog {
    &-container {
      padding: 74px 0 95px;
      width: 700px;
    }
    &__header {
      margin-bottom: 20px;
      font-size: 28px;
    }
    &__body {
      color: $font-color-secondary;
      font-size: 16px;
    }
  }
  .confirm {
    margin-top: 60px;
  }
  &.invalid {
    .dialog {
      &__header {
        margin-bottom: 40px;
      }
      &__body {
        color: $font-color-regular;
      }
    }
  }
}