/* 企业项目 */
@import '../../../css/public/var.scss';
@import '../../../css/public/mixins.scss';

.project {
  padding: 39px 50px;
  .btn {
    &-add {
      width: 100%;
    }
    &-addtag {
      background-color: #f2f2f2;
    }
  }
  &-tags {
    margin-top: 32px;
  }
}