/* 企业服务 */
@import '../../../css/public/var.scss';
@import '../../../css/public/mixins.scss';
.service {
  padding: 39px 45px 168px;
  width: 100%;
  div {
    box-sizing: border-box;
  }
  .row {
    margin: 0 -20px;
    .col {
      margin-bottom: 41px;
      padding: 0 20px;
    }
  }
  &-item {
    padding: 30px 20px 20px;
    height: 200px;
    color: $font-color-message;
    border: 1px solid $border-color-light;
    border-radius: ($border-radius-default/2);
    &__header {
      position: relative;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 20px;
      color: $font-color-primary;
    }
    &__toolbox {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
      a {
        margin-left: 16px;
        color: inherit;
      }
    }
    &__content {
      height: 100px;
      font-size: 16px;
      text-align: justify;
      overflow: auto;
    }
  }
  &-add {
    $width: 200px;
    width: $width;
    height: $width;
    line-height: $width;
    border: 1px solid $border-color-light;
    text-align: center;
    font-size: 60px;
    color: #bbb;
    cursor: pointer;
  }
  &-edit {
    display: none;
    padding: 30px 40px 20px 20px;
    border: 1px solid $border-color-light;
    border-radius: $border-radius-default;
    .input {
      width: 100%;
    }
    .textarea {
      height: 100px;
    }
  }
}