.activity-container {
    width: 1200px;
    margin: 0 auto;
    .activity-list-container {}
    .activity-item {
        float: left;
        width: 590px;
        margin: 0 20px 22px 0;
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
    .activity-picture {
        display: block;
        width: 100%;
        height: 350px;
    }
    .activity-info {
        padding: 22px;
    }
    .activity-title {
        font-size: 20px;
        color: #051027;
    }
    .activity-content {
        margin-top: 10px;
        color: #74777D;
    }
}