.design-container {
    width: 1200px;
    margin: 0 auto;
    .company-list {
        overflow: hidden;
        padding-bottom: 29px;
    }
    .company-item {
        float: left;
        width: 279px;
        margin-left: 28px;
        margin-bottom: 33px;
        &:nth-of-type(5n),
        &:first-child {
            margin-left: 0;
        }
    }
    .company-picture {
        display: block;
        width: 100%;
        height: 180px;
    }
    .company-info {
        padding: 20px 7px 10px 12px;
        background-color: #fff;
    }
    .company-name-address {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .company-name {
        float: left;
        font-size: 20px;
        color: rgba(51, 51, 51, 1);
    }
    .company-address {
        float: right;
        font-size: 14px;
        color: rgba(86, 86, 86, 1);
    }
    .company-name-slogan {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 12px;
        color: rgba(51, 51, 51, 1);
    }
    .company-label {
        margin-bottom: 15px;
        font-size: 14px;
        color: rgba(86, 86, 86, 1);
        >span {
            &+span {
                margin-left: 5px;
            }
        }
    }
    .company-data {
        overflow: hidden;
        line-height: 18px;
        font-size: 12px;
        color: rgba(173, 173, 173, 1);
    }
    .company-data-pageviews {
        float: left;
        >span {
            display: inline-block;
            vertical-align: middle;
        }
        &:before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 14px;
            vertical-align: middle;
            background-image: url('/imgs/public/placeholder.png');
        }
    }
    .company-data-pageviews-ago {
        float: right;
    }
    .pagination {
        overflow: hidden;
        margin-bottom: 60px;
        text-align: center;
        >div {
            display: inline-block;
        }
    }
    .pagination-item {
        float: left;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border: 1px solid rgba(199, 199, 200, 1);
        border-radius: 2px;
        color: rgba(86, 86, 86, 1);
        font-size: 14px;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        &.active {
            background-color: rgba(247, 247, 247, 1);
        }
        &+.pagination-item {
            margin-left: 7px;
        }
    }
    .banner {
        display: block;
        width: 100%;
        height: 180px;
        margin-bottom: 60px;
    }
}