@import '../../css/public/var.scss';
@import '../../css/public/mixins.scss';
.infomation-container {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 140px;
    .infomation-banner {
        display: block;
        width: 100%;
        height: 430px;
        margin-bottom: 22px;
    }
    .infomation-search {
        padding: 50px 0 3px 50px;
        margin-bottom: 22px;
        background-color: #fff;
        box-shadow: 0px 1px 4px 0px rgba(242, 242, 242, 1);
    }
    .infomation-option-list {
        width: 100%;
        margin-bottom: 40px;
        line-height: 18px;
        li {
            float: left;
            &:not(:first-child) {
                margin-left: 40px;
                cursor: pointer;
            }
        }
    }
    .infomation-option-item {
        color: #74777D;
    }
    .infomation-option-all {
        margin-left: 32px;
        color: #4395FF;
    }
    .infomation-option-label {
        font-size: 18px;
        color: #2A333F;
    }
    .recommend {
        &-list {
            &-item {
                display: block;
                margin-bottom: 25px;
                padding: 35px 22px 27px;
                background-color: #fff;
                color: #101010;
            }
        }
        &-date {
            margin-bottom: 23px;
            padding-bottom: 17px;
            color: $font-color-primary;
            border-bottom: 1px solid #eaeaea;
            font-size: 20px;
            .week {
                margin-left: 15px;
                margin-right: 5px;
                &--en {
                    font-size: 16px;
                    color: #74777d;
                }
            }
        }
        &-wrap {
            position: relative;
            @include clearfix;
            .image-placeholder {
                width: 260px;
                height: 150px;
                line-height: 150px;
            }
        }
        &-image {
            float: left;
            margin-right: 46px;
            width: 260px;
            height: 150px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        &-content {
            &__title {
                margin-bottom: 15px;
                font-size: 22px;
                color: #2a333f;
                &:hover {
                    text-decoration: underline;
                }
            }
            &__main {
                line-height: 25px;
                margin-bottom: 40px;
                font-size: 14px;
                color: #74777d;
            }
            .score-num {
                margin: 0 18px 0 12px;
                color: $color-danger;
                font-size: 13px;
            }
            .era-icon-look {
                margin-right: 6px;
                font-size: 22px;
                color: #b2b2b2;
                vertical-align: middle;
            }
            .look-num {
                margin-right: 45px;
                font-size: 13px;
            }
            .era-logo {
                display: inline-block;
                margin-right: 15px;
                width: 26px;
                height: 26px;
                border-radius: 100%;
                background-color: #fed809;
                vertical-align: middle;
            }
            .company-name {
                margin-right: 62px;
                font-size: 13px;
                &:visited {
                    color: #000;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            .company-label {
                width: 53px;
                height: 25px;
                padding: 3px 10px;
                line-height: 19px;
                border-radius: 18px;
                color: rgba(16, 16, 16, 0.6);
                font-size: 13px;
                text-align: center;
                border: 1px solid rgba(187, 187, 187, 1);
                &+.company-label {
                    margin-left: 13px;
                }
            }
        }
    }
    .recommend-content-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-left: 306px;
        box-sizing: border-box;
        span {
            vertical-align: middle;
        }
    }
    .view-more {
        width: 350px;
        height: 50px;
        line-height: 50px;
        margin: 54px auto;
        border: 1px solid rgba(213, 213, 213, 1);
        border-radius: 3px;
        font-size: 20px;
        text-align: center;
        color: rgba(42, 51, 63, 1);
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }
}