$list-border-bottom: 1px solid rgba(242, 242, 242, 1);
@mixin list-title {
    .list-title {
        height: 86px;
        line-height: 86px;
        border-bottom: $list-border-bottom;
        span {
            font-size: 20px;
            color: rgba(5, 16, 39, 1);
            &+span {
                margin-left: 24px;
            }
        }
    }
}

@mixin click-view-more {
    .click-view-more {
        height: 56px;
        line-height: 56px;
        text-align: center;
        font-size: 14px;
        color: rgba(179, 179, 179, 1);
    }
}