.footer-navigation-list {
    float: left;
}

.footer-cooperation-list {
    overflow: hidden;
    li {
        float: left;
        font-size: 13px;
    }
    a {
        color: #B3B3B3;
    }
}

.copy-right {
    font-size: 12px;
    color: #B3B3B3;
}