@import './var.scss';
@import './company.scss';
@import './utils.scss';
@import './widget/index.scss'; // 控件
@import './font.scss';
body {
    min-width: 1200px;
    background-color: #f9f9f9;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.base-container {
    // 内容区最大1420
    max-width: 1440px;
    padding-top: 142px;
    margin: 0 auto;
}

.dialog-cover {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 999;
}

.dialog-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}