.header {
    position: relative;
    width: 100%;
    height: 781px;
    background: url("../imgs/pic_head_bgg.png");
}

.header-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: left;
}

.logo {
    overflow: hidden;
    margin-top: 26px;
}

.logo-img {
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.logo-title {
    display: block;
    margin-top: 12px;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.05px;
}

.nav {
    position: absolute;
    top: 26px;
    right: 0;
}

.nav-item {
    float: left;
    padding-bottom: 5px;
    margin-right: 40px;
    font-size: 16px;
    letter-spacing: 0.03px;
    cursor: pointer;
}

.nav-item a {
    color: #FFFFFF;
}

.nav-item__last {
    margin-right: 0;
}

.nav-item__active {
    border-bottom: 1px solid #FFFFFF;
}

.slogan {
    position: relative;
    margin-top: 147px;
    height: 437px;
}

.slogan-title {
    margin-bottom: 26px;
    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: 4.99px;
}

.slogan-split {
    width: 478px;
    margin-bottom: 22px;
    border: 1px solid #FFFFFF;
}

.slogan-vice-title {
    margin-bottom: 34px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 8.33px;
}

