@import 'mixins.scss';

@each $pos in left, right {
  .pull-#{$pos} {
    float: $pos !important;
  }
}

.clearfix {
  @include clearfix;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text {
  &-bold {
    font-weight: bold!important;
  }
  &-bolder {
    font-weight: 900!important;
  }
}