$base-font: 16px;
$color-danger: #e51c23;
$font-color-primary: #051027;
$font-color-regular: #2a333f;
$font-color-secondary: #74777d;
$font-color-info: #353535;
$font-color-message: #101010;
$border-color-base: #e3e3e3;
$border-radius-default: 4px !default;

$color-input-placeholder: #888;