$base-font: 16px;
$font-color-primary: #051027;
$font-color-regular: #2a333f;
$font-color-secondary: #74777d;
$font-color-info: #353535;

$border-color-base: #a6a6a6;

$border-radius-default: 4px !default;